<h1>{{title}}</h1>

<div id="header">
  <a id="lin" href="reg.php" target="_blank"><button type="button"  value="Click">Вход</button></a>
  <a id="lin" href="reg.php" target="_blank"><button type="button"  value="Click">Регистрация</button></a>
  <a id="lin" href="reg.php" target="_blank"><button type="button"  value="Click">Выход</button></a>
</div>

<div id="choosens">
  <p> Избранное: </p>
  <a ><button id="choo" value="Click">Ячейка 1</button></a>
  <a ><button id="choo" value="Click">Ячейка 2</button></a>
  <a ><button id="choo" value="Click">Ячейка 3</button></a>
</div>

<div id="sear">
  <a ><button id="sea" value="Click">Save</button></a>
  <input name="search" value="Поиск">
  <button id="qwe" data-title='Для отображения рссписания введите номер группы в формате "ПИб-2301", либо ФИО преподователя, либо номер аудитории в формате "1-242"'>?</button>
</div>

<div class=choo></div>